@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;

}
.container{
    width: 100%;
    height: 100%;
}


.controles{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -50%;
    margin: 0px 40px;
}

.svg{
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.364);
    color: white;
    padding: 4px;
    border-radius: 50%;
    
}

.svg:hover{
    height: 70px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.738);
    border-radius: 50%;
    transform: translate(200, -5px);
    cursor: pointer;

}

header{
    height: 200px;
}

section{
    height: 500px;
    padding: 10px;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}